* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: fit-content;
    background-color: #161415;
    color: white;
}

h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
}

p {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.4rem;
    margin: 0px 20vw;
}

a {
    text-decoration: underline;
    text-decoration-color: #00000000;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration-color: #ffffff;
}

section { padding: 1rem; }

.wrapper {
    height: 100vh;
    height: 100dvh;
}

.about-us {
    height: fit-content;
    min-height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.process {
    border-top: #ffffff;
    height: 50vh;
}

.sponsors {
    height: max(50vh, fit-content);
    background-color: #1A5E63;
    display: flex;
    flex-direction: column;
}

.sponsorImgs {
    height: 100%;
    border-radius: 10px;
    border: 3px solid #0000005a;
    margin: 1rem 3vw 1rem 3vw;
    padding: 4rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    gap: 4em;
}

.sponsor{
    max-height: 10rem;
    height: auto;
    max-width: 80vw;
    border-radius: 6px;
    object-fit: contain;
    transition: all 0.15s ease-in-out;
    user-select: none;
}

.sponsor:hover{
    cursor: pointer;
    box-shadow: 12px 12px 12px #0000003b, -10px -10px 10px #15656A;
}

.end {
    height: 20vh;
    background-color: #523249;
    display: flex;
    flex-direction: row;
}

.end-title {
    flex-basis: calc(25%);
    border-right: 1px solid #0000007f;
}

.end-text {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

::selection {
    background-color: #1A5E63;
}

.sponsors > ::selection {
    background: #523249;
}