html { user-select: none; overflow: hidden; background-color: #141414; }

body {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0rem;
    overflow: hidden;
}

a {
    color: #505050;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 1%;
    left: 2rem;
    height: 50px;
    z-index: 5;
}

.nav {
    position: absolute;
    top: 2%;
    width: 100%;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
}

#home {
    color: #F6F9FB;
}

#about {
    transition: all 0.2s ease-in-out;
}

#about:hover {
    color: #F6F9FB;
}

.txt {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 2vh;
    color: #474747;
}

#left-right {
    color: #7b7b7b;
}

#carrousel {
    z-index: 0;
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none;
}

#carrousel > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#arrow {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%, 0%);
    font-size: 3vh;
    color: #474747;
}
