html { background-color: #141414; height: 100vh; width: 100vw; }

body {
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0rem;
    color: #F6F9FB;
}

a {
    color: #505050;
    text-decoration: none;
}

p {
    padding-top: 0px;
    margin: 0px;
    padding-left: 1vw;
    font-size: large;
}

::selection {
    background-color: #001659;
}

.logo {
    position: absolute;
    top: 0.1%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 75px;
    z-index: 5;
}

.nav {
    position: absolute;
    top: 2%;
    width: 100%;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    gap: 8rem;
    justify-content: center;
}

#about {
    transition: all 0.2s ease-in-out;
}

#about:hover {
    color: #F6F9FB;
}

#home {
    transition: all 0.2s ease-in-out;
}

#home:hover {
    color: #F6F9FB;
}

.content {
    padding: 7vh 5vw 0px 5vw;
    height: 100%;
    box-sizing: border-box;
}

.dude {
    box-sizing: border-box;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: row;
}

.mugshot {
    aspect-ratio: 1 / 1;
    height: 25vw;
    border-radius: 50%;
    filter: sepia(1);
    transition: all 0.3s ease-in-out;
}

.mugshot:hover {
    filter: sepia(0);
    border-radius: 0px;
}

.desc {
    flex-basis: 75%;
    height: 100%;
    align-content: center;
}

.title {
    padding-left: 1vw;
    font-size: xx-large;
    font-weight: bold;
}