html { background-color: #141414; height: 100vh; width: 100vw; overflow: hidden; }

body {
    height: 100vh;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0rem;
    overflow: hidden;
    color: #F6F9FB;
}

a {
    color: #505050;
    text-decoration: none;
}

p {
    padding-left: 10px;
    font-size: large;
}

::selection {
    background-color: #001659;
}

.logo {
    position: absolute;
    top: 1%;
    left: 2rem;
    height: 50px;
    z-index: 5;
}

.nav {
    position: absolute;
    user-select: none;
    top: 2%;
    width: 100%;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    gap: 6rem;
    justify-content: center;
}

#about {
    color: #F6F9FB;
}

#home {
    transition: all 0.2s ease-in-out;
}

#home:hover {
    color: #F6F9FB;
}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#contact {
    color: #F6F9FB;
    font-size: 27px;
}

.content {
    padding: 20vh 10vw;
}

.redirect {
    color: #F6F9FB;
    text-decoration: underline;
    text-decoration-color: #ED5A95;
    text-underline-offset: auto;
    transition: all 0.2s ease-in-out;
}

.redirect:hover {
    color: #ED5A95;
    text-decoration: underline;
    text-underline-offset: 0.3vh;
}